<style type="text/css">
    .site-navbar { background-color: transparent !important; }
    #divHeader { position: absolute; z-index: 1; width: 100%; }
    .hero-content { position: absolute; top: 150px; text-align: center; left: 0px; width: 45%; min-width: 320px; }
        .hero-content h1, .hero-content h2 { color: #fff; text-shadow: 1px 1px 1px #000; font-weight: normal; }
        .hero-content h1 { font-size: 32px; }
        .hero-content h2 { font-size: 18px; }
    .cover-image .cover-image-credits { position: absolute; bottom: -3px; right: 3px; color: #ddd; font-size: 13px; }
</style>
<div id="divContent">
    <div class="cover">
        <div class="cover-image position-relative" style="height: 540px;">
            <div class="offerBanner" style="height: 100%;
                    background: url(&quot;/css/images/hero/data-api.png&quot;) no-repeat 28% 34%;">
            </div>
            <div class="cover-image-credits">
                Copyright: <a style="color: #fff;" target="_blank" href='http://www.123rf.com/profile_decorwithme'>decorwithme / 123RF </a>
            </div>
            <div class="hero-content">
                <h1 class="text-uppercase">Data API</h1>
                <h2>A unified XML API interface for all leading travel content providers.<br /> Reduce cost and time to market for travel booking engines</h2>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="content">
            <h1 class="text-center"></h1>
            <h2 class="mtl text-center"></h2>
            <div class="container-fluid">
                <div class="row platform">
                    <div class="col-xs-12 col-md-4">
                        <a class="site-font fadeInLeft" href="/data-api/#" title='Generics'><i class="platform_ios"></i><span class="name">Generics</span></a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="site-font fadeInLeft" href="/data-api/tenancy" title='Tenancy'><i class="platform_android"></i><span class="name">Tenancy</span></a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <a class="site-font fadeInLeft" href="/data-api/#" title='Trips'><i class="platform_windows"></i><span class="name">Trips</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="col-md-12">
                <div class="row ptl">
                    <div class="col-md-11 col-md-offset-1 pll">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus est diam, volutpat non dapibus posuere, porta auctor lacus. Suspendisse ultrices rhoncus nibh, non ullamcorper orci lobortis vel. Sed nulla sem, suscipit nec nulla at, aliquam maximus urna. Sed metus leo, hendrerit vel magna eu, suscipit malesuada massa.
                        </p>
                        <p>
                            Sed nec fringilla urna, quis ullamcorper lacus. Nunc non lacinia dolor. Phasellus pellentesque odio metus, quis imperdiet orci sollicitudin vitae. Nam cursus, elit sed hendrerit pellentesque, dui mauris commodo erat, vitae facilisis sapien velit cursus tortor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec venenatis, ligula et auctor accumsan, diam purus semper libero, nec gravida est ipsum vel mauris. Nulla lacinia velit eu dui vehicula pulvinar. Donec id faucibus nisi. Donec laoreet erat odio. Morbi nec orci vel leo consequat facilisis. Integer tortor nisl, interdum non ex sit amet, euismod imperdiet arcu. Ut non lacus arcu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>